on: 
    schedule:
    - cron: '0 */12 * * *'
    
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
        - run: |
              podman run --init -d -e RP_EMAIL=chaowen.guo1@gmail.com -e RP_API_KEY=9b23ebb9-2ee1-427f-a271-f6fdf536537b docker.io/repocket/repocket
              sudo apt update
              sudo apt install -y --no-install-recommends autogen
              git clone https://gcc.gnu.org/git/gcc.git
              cd gcc
              ./contrib/download_prerequisites
              mkdir build
              cd build
              ../configure --enable-threads=posix --enable-checking=release --disable-multilib --enable-languages=c,c++ #--enable-__cxa_atexit
              make -j2
              make check
              make install-strip
              cd ${{github.workspace}}
              tar -cjvf gcc.tar.bz2 gcc
        - uses: softprops/action-gh-release@master
          with:
              token: ${{secrets.GITHUB_TOKEN}}
              tag_name: 1
              files: gcc.tar.bz2
    clean:
        runs-on: ubuntu-latest
        permissions:
            actions: write
        steps:
        - run: |
              sudo apt update
              sudo apt install -y --no-install-recommends python3-aiohttp
              curl https://bitbucket.org/chaowenguo/common/raw/main/clean.py | python3 - ${{secrets.GITHUB_TOKEN}}
